body {
    background: #edf2f6;
  }

.page_404 {
  padding: 40px 0;
  background: #edf2f6;
  font-family: "Arvo", serif;
}


.page_404 img {
  width: 100%;
}
.text-title {
  font-size: 4em;
  margin-bottom: 50px;
}
.four_zero_four_bg {
  background-image: url(./image.png);
  height: 480px;
  background-position: center;
  background-size: cover;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  border-radius: 5px;
  background: #008eff;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
